* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  outline: 0;
  transition: all 0.5s ease;
}


body {
  background-image: linear-gradient(to bottom right, rgba(509, 70, 690, 1.0), rgba(210, 53, 75));
}


.container {
  height: 100vh;
  width: 100vw;
  display: grid;
  place-items: center;
}

.calculator {
  position: relative;
  height: auto;
  width: auto;
  padding: 20px;
  border-radius: 10px;
  background-color: white;
  box-shadow: 0 0 30px #000;
}

#design {
  font-size: 10px;
  margin-top: 15px;
  align-content: center;
  text-align: center;
}

/* table {
  margin: auto;
} */

#display {
  margin: 0 10px;
  height: 130px;
  width: auto;
  max-width: 270px;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  font-size: 25px;
  margin-bottom: 20px;
  overflow-x: scroll;
}

#display::-webkit-scrollbar {
  display: block;
  height: 2px;
}

button {
  height: 60px;
  width: 60px;
  border: 0;
  border-radius: 5px;
  margin: 2px;
  font-size: 18px;
  cursor: pointer;
  transition: all 200ms ease;
}

button#equal {
  height: 125px;
}

.calculator button#clear {
  background-color: #CDF0EA;
  color: #fc4552;
}

.calculator button.btn-number {
  background-color: #FAF4B7;
  color: #000000;
}

.calculator button.btn-operator {
  background-color: #F6C6EA;
  color: #f967f3;
}

.calculator button.btn-equal {
  background-color: #FAF4B7;
  color: #000;
}


/* #equal {
  padding: 31px;
  width: 3em;
} */

/* .btn-operator {
  padding: 10px;
  width: 3em;
}

.btn-number {
  padding: 10px;
  width: 3em;
}

.btn-equal {
  height: 82px;
  width: 3em;
} */

.display-screen {
  color: black;
}

button:hover {
  transform: scale(1.1);
}